.sp-page-builder .page-content #section-id-1594599586044 {
    padding-top: 150px;
    padding-right: 0px;
    padding-bottom: 150px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    box-shadow: 0 0 0 0 #ffffff;
}
#column-id-1594599586043 {
    box-shadow: 0 0 0 0 #fff;
}
#sppb-addon-wrapper-1594599586047 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594599586047 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594599586047 .sppb-addon-title {
    letter-spacing: ;
}
#sppb-addon-1594599586047 .sppb-media {
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    overflow: visible;
}
#sppb-addon-1594599586047 .sppb-media > .pull-left {
    margin-right: 0;
    overflow: hidden;
    position: relative;
}
#sppb-addon-1594599586047 .sppb-media > .pull-left img {
    width: 100%;
}
#sppb-addon-1594599586047 .sppb-media-body {
    padding: 56px 40px 54px;
    padding-left: 208px;
    padding-right: 0;
    position: relative;
    width: 70%;
    overflow: visible;
}
#sppb-addon-1594599586047 .sppb-addon-title {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
#sppb-addon-1594599586047 .sppb-addon-title a:hover {
    opacity: 0.8;
}
#sppb-addon-1594599586047 .sppb-addon-text span {
    bottom: -22px;
    color: #262c31;
    font-size: 180px;
    font-weight: 700;
    left: -51px;
    opacity: 0.7;
    position: absolute;
}
@media (max-width: 992px) {
    #sppb-addon-1594599586047 .sppb-media {
        display: block;
    }
    #sppb-addon-1594599586047 .sppb-media > .pull-left {
        float: none !important;
        width: 100% !important;
    }
    #sppb-addon-1594599586047 .sppb-media > .pull-right {
        float: none !important;
        width: 100% !important;
    }
    #sppb-addon-1594599586047 .sppb-media-body {
        width: 100% !important;
        padding: 0px !important;
        margin-top: 30px;
    }
    #sppb-addon-1594599586047 .sppb-addon-text span {
        bottom: auto;
        left: auto;
        right: auto;
        text-align: center;
        padding-top: 60px;
        display: block;
        margin: 0 auto;
        position: relative;
    }
}
#sppb-addon-1594599586047 .sppb-img-container {
    display: block;
}
#sppb-addon-1594599586047 .sppb-media .pull-left,
#sppb-addon-1594599586047 .sppb-media .pull-right {
    width: 28%;
}
#sppb-addon-1594599586047 .sppb-media-content .sppb-btn {
    margin: 25px 0px 0px 0px;
}
#sppb-addon-1594599586047 #btn-1594599586047.sppb-btn-custom {
    letter-spacing: 0px;
}
#sppb-addon-1594599586047 #btn-1594599586047.sppb-btn-custom {
    background-color: #0080fe;
    color: #ffffff;
    padding: 8px 22px 10px 22px;
    font-size: 16px;
}
#sppb-addon-1594599586047 #btn-1594599586047.sppb-btn-custom:hover {
    background-color: #de6906;
    color: #ffffff;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594599586047 .sppb-media .pull-left,
    #sppb-addon-1594599586047 .sppb-media .pull-right {
        width: 100%;
    }
    #sppb-addon-1594599586047 .sppb-media .sppb-media-body {
        width: 100%;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594599586047 .sppb-media .pull-left,
    #sppb-addon-1594599586047 .sppb-media .pull-right {
        width: 100%;
    }
    #sppb-addon-1594599586047 .sppb-media .sppb-media-body {
        width: 100%;
    }
}
#sppb-addon-1594599586047 {
    transition: 0.3s;
}
#sppb-addon-1594599586047:hover {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-wrapper-1594599586058 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594599586058 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594599586058 .sppb-empty-space {
    height: 70px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594599586058 .sppb-empty-space {
        height: 70px;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594599586058 .sppb-empty-space {
        height: 70px;
    }
}
#sppb-addon-wrapper-1594599586061 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594599586061 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594599586061 .sppb-addon-title {
    letter-spacing: ;
}
#sppb-addon-1594599586061 .sppb-media {
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    overflow: visible;
}
#sppb-addon-1594599586061 .sppb-media > .pull-right {
    margin-left: 0;
    overflow: hidden;
    position: relative;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    order: 2;
}
#sppb-addon-1594599586061 .sppb-media > .pull-right img {
    width: 100%;
}
#sppb-addon-1594599586061 .sppb-media-body {
    padding: 56px 40px 54px;
    position: relative;
    width: 70%;
    overflow: visible;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    order: 1;
    padding-left: 0;
    padding-right: 208px;
}
#sppb-addon-1594599586061 .sppb-addon-title {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
#sppb-addon-1594599586061 .sppb-addon-title a:hover {
    opacity: 0.8;
}
#sppb-addon-1594599586061 .sppb-addon-text span {
    bottom: -30px;
    color: #262c31;
    font-size: 180px;
    font-weight: 700;
    left: auto;
    opacity: 0.7;
    position: absolute;
    right: -85px;
}
@media (max-width: 992px) {
    #sppb-addon-1594599586061 .sppb-media {
        display: block;
    }
    #sppb-addon-1594599586061 .sppb-media > .pull-left {
        float: none !important;
        width: 100% !important;
    }
    #sppb-addon-1594599586061 .sppb-media > .pull-right {
        float: none !important;
        width: 100% !important;
    }
    #sppb-addon-1594599586061 .sppb-media-body {
        width: 100% !important;
        padding: 0px !important;
        margin-top: 30px;
    }
    #sppb-addon-1594599586061 .sppb-addon-text span {
        bottom: auto;
        left: auto;
        right: auto;
        text-align: center;
        padding-top: 60px;
        display: block;
        margin: 0 auto;
        position: relative;
    }
}
#sppb-addon-1594599586061 .sppb-img-container {
    display: block;
}
#sppb-addon-1594599586061 .sppb-media .pull-left,
#sppb-addon-1594599586061 .sppb-media .pull-right {
    width: 28%;
}
#sppb-addon-1594599586061 .sppb-media-content .sppb-btn {
    margin: 25px 0px 0px 0px;
}
#sppb-addon-1594599586061 #btn-1594599586061.sppb-btn-custom {
    letter-spacing: 0px;
}
#sppb-addon-1594599586061 #btn-1594599586061.sppb-btn-custom {
    background-color: #0080fe;
    color: #ffffff;
    padding: 8px 22px 10px 22px;
    font-size: 16px;
}
#sppb-addon-1594599586061 #btn-1594599586061.sppb-btn-custom:hover {
    background-color: #de6906;
    color: #ffffff;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594599586061 .sppb-media .pull-left,
    #sppb-addon-1594599586061 .sppb-media .pull-right {
        width: 100%;
    }
    #sppb-addon-1594599586061 .sppb-media .sppb-media-body {
        width: 100%;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594599586061 .sppb-media .pull-left,
    #sppb-addon-1594599586061 .sppb-media .pull-right {
        width: 100%;
    }
    #sppb-addon-1594599586061 .sppb-media .sppb-media-body {
        width: 100%;
    }
}
#sppb-addon-1594599586061 {
    transition: 0.3s;
}
#sppb-addon-1594599586061:hover {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-wrapper-1594599586070 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594599586070 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594599586070 .sppb-empty-space {
    height: 70px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594599586070 .sppb-empty-space {
        height: 70px;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594599586070 .sppb-empty-space {
        height: 70px;
    }
}
#sppb-addon-wrapper-1594599586073 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594599586073 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594599586073 .sppb-addon-title {
    letter-spacing: ;
}
#sppb-addon-1594599586073 .sppb-media {
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    overflow: visible;
}
#sppb-addon-1594599586073 .sppb-media > .pull-left {
    margin-right: 0;
    overflow: hidden;
    position: relative;
}
#sppb-addon-1594599586073 .sppb-media > .pull-left img {
    width: 100%;
}
#sppb-addon-1594599586073 .sppb-media-body {
    padding: 56px 40px 54px;
    padding-left: 208px;
    padding-right: 0;
    position: relative;
    width: 70%;
    overflow: visible;
}
#sppb-addon-1594599586073 .sppb-addon-title {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
#sppb-addon-1594599586073 .sppb-addon-title a:hover {
    opacity: 0.8;
}
#sppb-addon-1594599586073 .sppb-addon-text span {
    bottom: -22px;
    color: #262c31;
    font-size: 180px;
    font-weight: 700;
    left: -51px;
    opacity: 0.7;
    position: absolute;
}
@media (max-width: 992px) {
    #sppb-addon-1594599586073 .sppb-media {
        display: block;
    }
    #sppb-addon-1594599586073 .sppb-media > .pull-left {
        float: none !important;
        width: 100% !important;
    }
    #sppb-addon-1594599586073 .sppb-media > .pull-right {
        float: none !important;
        width: 100% !important;
    }
    #sppb-addon-1594599586073 .sppb-media-body {
        width: 100% !important;
        padding: 0px !important;
        margin-top: 30px;
    }
    #sppb-addon-1594599586073 .sppb-addon-text span {
        bottom: auto;
        left: auto;
        right: auto;
        text-align: center;
        padding-top: 60px;
        display: block;
        margin: 0 auto;
        position: relative;
    }
}
#sppb-addon-1594599586073 .sppb-img-container {
    display: block;
}
#sppb-addon-1594599586073 .sppb-media .pull-left,
#sppb-addon-1594599586073 .sppb-media .pull-right {
    width: 28%;
}
#sppb-addon-1594599586073 .sppb-media-content .sppb-btn {
    margin: 25px 0px 0px 0px;
}
#sppb-addon-1594599586073 #btn-1594599586073.sppb-btn-custom {
    letter-spacing: 0px;
}
#sppb-addon-1594599586073 #btn-1594599586073.sppb-btn-custom {
    background-color: #0080fe;
    color: #ffffff;
    padding: 8px 22px 10px 22px;
    font-size: 16px;
}
#sppb-addon-1594599586073 #btn-1594599586073.sppb-btn-custom:hover {
    background-color: #de6906;
    color: #ffffff;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594599586073 .sppb-media .pull-left,
    #sppb-addon-1594599586073 .sppb-media .pull-right {
        width: 100%;
    }
    #sppb-addon-1594599586073 .sppb-media .sppb-media-body {
        width: 100%;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594599586073 .sppb-media .pull-left,
    #sppb-addon-1594599586073 .sppb-media .pull-right {
        width: 100%;
    }
    #sppb-addon-1594599586073 .sppb-media .sppb-media-body {
        width: 100%;
    }
}
#sppb-addon-1594599586073 {
    transition: 0.3s;
}
#sppb-addon-1594599586073:hover {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-wrapper-1594599586078 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594599586078 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594599586078 .sppb-empty-space {
    height: 70px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594599586078 .sppb-empty-space {
        height: 70px;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594599586078 .sppb-empty-space {
        height: 70px;
    }
}
#sppb-addon-wrapper-1594599586081 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594599586081 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594599586081 .sppb-addon-title {
    letter-spacing: ;
}
#sppb-addon-1594599586081 .sppb-media {
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    overflow: visible;
}
#sppb-addon-1594599586081 .sppb-media > .pull-right {
    margin-left: 0;
    overflow: hidden;
    position: relative;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    order: 2;
}
#sppb-addon-1594599586081 .sppb-media > .pull-right img {
    width: 100%;
}
#sppb-addon-1594599586081 .sppb-media-body {
    padding: 56px 40px 54px;
    position: relative;
    width: 70%;
    overflow: visible;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    order: 1;
    padding-left: 0;
    padding-right: 208px;
}
#sppb-addon-1594599586081 .sppb-addon-title {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
#sppb-addon-1594599586081 .sppb-addon-title a:hover {
    opacity: 0.8;
}
#sppb-addon-1594599586081 .sppb-addon-text span {
    bottom: -30px;
    color: #262c31;
    font-size: 180px;
    font-weight: 700;
    left: auto;
    opacity: 0.7;
    position: absolute;
    right: -85px;
}
@media (max-width: 992px) {
    #sppb-addon-1594599586081 .sppb-media {
        display: block;
    }
    #sppb-addon-1594599586081 .sppb-media > .pull-left {
        float: none !important;
        width: 100% !important;
    }
    #sppb-addon-1594599586081 .sppb-media > .pull-right {
        float: none !important;
        width: 100% !important;
    }
    #sppb-addon-1594599586081 .sppb-media-body {
        width: 100% !important;
        padding: 0px !important;
        margin-top: 30px;
    }
    #sppb-addon-1594599586081 .sppb-addon-text span {
        bottom: auto;
        left: auto;
        right: auto;
        text-align: center;
        padding-top: 60px;
        display: block;
        margin: 0 auto;
        position: relative;
    }
}
#sppb-addon-1594599586081 .sppb-img-container {
    display: block;
}
#sppb-addon-1594599586081 .sppb-media .pull-left,
#sppb-addon-1594599586081 .sppb-media .pull-right {
    width: 28%;
}
#sppb-addon-1594599586081 .sppb-media-content .sppb-btn {
    margin: 25px 0px 0px 0px;
}
#sppb-addon-1594599586081 #btn-1594599586081.sppb-btn-custom {
    letter-spacing: 0px;
}
#sppb-addon-1594599586081 #btn-1594599586081.sppb-btn-custom {
    background-color: #0080fe;
    color: #ffffff;
    padding: 8px 22px 10px 22px;
    font-size: 16px;
}
#sppb-addon-1594599586081 #btn-1594599586081.sppb-btn-custom:hover {
    background-color: #de6906;
    color: #ffffff;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594599586081 .sppb-media .pull-left,
    #sppb-addon-1594599586081 .sppb-media .pull-right {
        width: 100%;
    }
    #sppb-addon-1594599586081 .sppb-media .sppb-media-body {
        width: 100%;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594599586081 .sppb-media .pull-left,
    #sppb-addon-1594599586081 .sppb-media .pull-right {
        width: 100%;
    }
    #sppb-addon-1594599586081 .sppb-media .sppb-media-body {
        width: 100%;
    }
}
#sppb-addon-1594599586081 {
    transition: 0.3s;
}
#sppb-addon-1594599586081:hover {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-wrapper-1594599586086 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594599586086 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594599586086 .sppb-empty-space {
    height: 70px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594599586086 .sppb-empty-space {
        height: 70px;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594599586086 .sppb-empty-space {
        height: 70px;
    }
}
#sppb-addon-wrapper-1594599586089 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594599586089 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594599586089 .sppb-addon-title {
    letter-spacing: ;
}
#sppb-addon-1594599586089 .sppb-media {
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    overflow: visible;
}
#sppb-addon-1594599586089 .sppb-media > .pull-left {
    margin-right: 0;
    overflow: hidden;
    position: relative;
}
#sppb-addon-1594599586089 .sppb-media > .pull-left img {
    width: 100%;
}
#sppb-addon-1594599586089 .sppb-media-body {
    padding: 56px 40px 54px;
    padding-left: 208px;
    padding-right: 0;
    position: relative;
    width: 70%;
    overflow: visible;
}
#sppb-addon-1594599586089 .sppb-addon-title {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
#sppb-addon-1594599586089 .sppb-addon-title a:hover {
    opacity: 0.8;
}
#sppb-addon-1594599586089 .sppb-addon-text span {
    bottom: -22px;
    color: #262c31;
    font-size: 180px;
    font-weight: 700;
    left: -51px;
    opacity: 0.7;
    position: absolute;
}
@media (max-width: 992px) {
    #sppb-addon-1594599586089 .sppb-media {
        display: block;
    }
    #sppb-addon-1594599586089 .sppb-media > .pull-left {
        float: none !important;
        width: 100% !important;
    }
    #sppb-addon-1594599586089 .sppb-media > .pull-right {
        float: none !important;
        width: 100% !important;
    }
    #sppb-addon-1594599586089 .sppb-media-body {
        width: 100% !important;
        padding: 0px !important;
        margin-top: 30px;
    }
    #sppb-addon-1594599586089 .sppb-addon-text span {
        bottom: auto;
        left: auto;
        right: auto;
        text-align: center;
        padding-top: 60px;
        display: block;
        margin: 0 auto;
        position: relative;
    }
}
#sppb-addon-1594599586089 .sppb-img-container {
    display: block;
}
#sppb-addon-1594599586089 .sppb-media .pull-left,
#sppb-addon-1594599586089 .sppb-media .pull-right {
    width: 28%;
}
#sppb-addon-1594599586089 .sppb-media-content .sppb-btn {
    margin: 25px 0px 0px 0px;
}
#sppb-addon-1594599586089 #btn-1594599586089.sppb-btn-custom {
    letter-spacing: 0px;
}
#sppb-addon-1594599586089 #btn-1594599586089.sppb-btn-custom {
    background-color: #0080fe;
    color: #ffffff;
    padding: 8px 22px 10px 22px;
    font-size: 16px;
}
#sppb-addon-1594599586089 #btn-1594599586089.sppb-btn-custom:hover {
    background-color: #de6906;
    color: #ffffff;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594599586089 .sppb-media .pull-left,
    #sppb-addon-1594599586089 .sppb-media .pull-right {
        width: 100%;
    }
    #sppb-addon-1594599586089 .sppb-media .sppb-media-body {
        width: 100%;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594599586089 .sppb-media .pull-left,
    #sppb-addon-1594599586089 .sppb-media .pull-right {
        width: 100%;
    }
    #sppb-addon-1594599586089 .sppb-media .sppb-media-body {
        width: 100%;
    }
}
#sppb-addon-1594599586089 {
    transition: 0.3s;
}
#sppb-addon-1594599586089:hover {
    box-shadow: 0 0 0 0 #ffffff;
}
.sp-page-builder .page-content #section-id-1594601131815 {
    padding-top: 105px;
    padding-right: 0px;
    padding-bottom: 105px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-image: url(/images/2020/07/08/service_phone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 0;
    box-shadow: 0 0 0 0 #ffffff;
}
.sp-page-builder .page-content #section-id-1594601131815 > .sppb-row-overlay {
    mix-blend-mode: normal;
}
#column-id-1594601131826 {
    box-shadow: 0 0 0 0 #fff;
}
#sppb-addon-wrapper-1594601131827 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594601131827 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594601131827 .sppb-addon-title {
    letter-spacing: ;
}
#sppb-addon-1594601131827 .sppb-img-container img {
    max-width: 60px;
}
#sppb-addon-1594601131827 .sppb-addon-title {
    font-size: 30px;
    font-weight: 300;
    margin-top: 7px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #fff;
}
#sppb-addon-1594601131827 .sppb-addon-title strong {
    color: #fff;
}
#sppb-addon-1594601131827 .sppb-addon-title > a:hover {
    opacity: 0.8;
}
#sppb-addon-1594601131827 .sppb-addon-text {
    color: #bebfc4;
}
#sppb-addon-1594601131827 .sppb-img-container {
    display: block;
}
#sppb-addon-1594601131827 .sppb-media .pull-left,
#sppb-addon-1594601131827 .sppb-media .pull-right {
    width: 15%;
}
#sppb-addon-1594601131827 .sppb-media-content .sppb-btn {
    margin: 25px 0px 0px 0px;
}
#sppb-addon-1594601131827 #btn-1594601131827.sppb-btn-custom {
    letter-spacing: 0px;
}
#sppb-addon-1594601131827 #btn-1594601131827.sppb-btn-custom {
    background-color: #0080fe;
    color: #ffffff;
    padding: 8px 22px 10px 22px;
    font-size: 16px;
}
#sppb-addon-1594601131827 #btn-1594601131827.sppb-btn-custom:hover {
    background-color: #de6906;
    color: #ffffff;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594601131827 .sppb-media .sppb-media-body {
        width: auto;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594601131827 .sppb-media .sppb-media-body {
        width: auto;
    }
}
#sppb-addon-1594601131827 {
    transition: 0.3s;
}
#sppb-addon-1594601131827:hover {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-wrapper-1594601131828 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594601131828 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594601131828 .sppb-divider {
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #777a7c;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594601131828 .sppb-divider {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594601131828 .sppb-divider {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
#sppb-addon-wrapper-1594601131829 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594601131829 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594601131829 .sppb-addon-title {
    letter-spacing: ;
}
#sppb-addon-1594601131829 .sppb-img-container img {
    max-width: 60px;
}
#sppb-addon-1594601131829 .sppb-addon-title {
    font-size: 30px;
    font-weight: 300;
    margin-top: 7px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #fff;
}
#sppb-addon-1594601131829 .sppb-addon-title strong {
    color: #fff;
}
#sppb-addon-1594601131829 .sppb-addon-title > a:hover {
    opacity: 0.8;
}
#sppb-addon-1594601131829 .sppb-addon-text {
    color: #bebfc4;
}
#sppb-addon-1594601131829 .sppb-img-container {
    display: block;
}
#sppb-addon-1594601131829 .sppb-media .pull-left,
#sppb-addon-1594601131829 .sppb-media .pull-right {
    width: 15%;
}
#sppb-addon-1594601131829 .sppb-media-content .sppb-btn {
    margin: 25px 0px 0px 0px;
}
#sppb-addon-1594601131829 #btn-1594601131829.sppb-btn-custom {
    letter-spacing: 0px;
}
#sppb-addon-1594601131829 #btn-1594601131829.sppb-btn-custom {
    background-color: #0080fe;
    color: #ffffff;
    padding: 8px 22px 10px 22px;
    font-size: 16px;
}
#sppb-addon-1594601131829 #btn-1594601131829.sppb-btn-custom:hover {
    background-color: #de6906;
    color: #ffffff;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594601131829 .sppb-media .sppb-media-body {
        width: auto;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594601131829 .sppb-media .sppb-media-body {
        width: auto;
    }
}
#sppb-addon-1594601131829 {
    transition: 0.3s;
}
#sppb-addon-1594601131829:hover {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-wrapper-1594601131830 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594601131830 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594601131830 .sppb-divider {
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #777a7c;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594601131830 .sppb-divider {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594601131830 .sppb-divider {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
#sppb-addon-wrapper-1594601131831 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594601131831 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594601131831 .sppb-addon-title {
    letter-spacing: ;
}
#sppb-addon-1594601131831 .sppb-img-container img {
    max-width: 60px;
}
#sppb-addon-1594601131831 .sppb-addon-title {
    font-size: 30px;
    font-weight: 300;
    margin-top: 7px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #fff;
}
#sppb-addon-1594601131831 .sppb-addon-title strong {
    color: #fff;
}
#sppb-addon-1594601131831 .sppb-addon-title > a:hover {
    opacity: 0.8;
}
#sppb-addon-1594601131831 .sppb-addon-text {
    color: #bebfc4;
}
#sppb-addon-1594601131831 .sppb-img-container {
    display: block;
}
#sppb-addon-1594601131831 .sppb-media .pull-left,
#sppb-addon-1594601131831 .sppb-media .pull-right {
    width: 15%;
}
#sppb-addon-1594601131831 .sppb-media-content .sppb-btn {
    margin: 25px 0px 0px 0px;
}
#sppb-addon-1594601131831 #btn-1594601131831.sppb-btn-custom {
    letter-spacing: 0px;
}
#sppb-addon-1594601131831 #btn-1594601131831.sppb-btn-custom {
    background-color: #0080fe;
    color: #ffffff;
    padding: 8px 22px 10px 22px;
    font-size: 16px;
}
#sppb-addon-1594601131831 #btn-1594601131831.sppb-btn-custom:hover {
    background-color: #de6906;
    color: #ffffff;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594601131831 .sppb-media .sppb-media-body {
        width: auto;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594601131831 .sppb-media .sppb-media-body {
        width: auto;
    }
}
#sppb-addon-1594601131831 {
    transition: 0.3s;
}
#sppb-addon-1594601131831:hover {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-wrapper-1594601131833 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594601131833 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594601131833 .sppb-empty-space {
    height: 50px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594601131833 .sppb-empty-space {
        height: 50px;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594601131833 .sppb-empty-space {
        height: 50px;
    }
}
#sppb-addon-wrapper-1594601131834 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594601131834 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-wrapper-1594601131835 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594601131835 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594601131835 .sppb-empty-space {
    height: 50px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594601131835 .sppb-empty-space {
        height: 50px;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594601131835 .sppb-empty-space {
        height: 50px;
    }
}
#sppb-addon-wrapper-1594601131837 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594601131837 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594601131837 .sppb-addon-title {
    letter-spacing: ;
}
#sppb-addon-1594601131837 .sppb-img-container img {
    max-width: 60px;
}
#sppb-addon-1594601131837 .sppb-addon-title {
    font-size: 30px;
    font-weight: 300;
    margin-top: 7px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #fff;
}
#sppb-addon-1594601131837 .sppb-addon-title strong {
    color: #fff;
}
#sppb-addon-1594601131837 .sppb-addon-title > a:hover {
    opacity: 0.8;
}
#sppb-addon-1594601131837 .sppb-addon-text {
    color: #bebfc4;
}
#sppb-addon-1594601131837 .sppb-img-container {
    display: block;
}
#sppb-addon-1594601131837 .sppb-media .pull-left,
#sppb-addon-1594601131837 .sppb-media .pull-right {
    width: 15%;
}
#sppb-addon-1594601131837 .sppb-media-content .sppb-btn {
    margin: 25px 0px 0px 0px;
}
#sppb-addon-1594601131837 #btn-1594601131837.sppb-btn-custom {
    letter-spacing: 0px;
}
#sppb-addon-1594601131837 #btn-1594601131837.sppb-btn-custom {
    background-color: #0080fe;
    color: #ffffff;
    padding: 8px 22px 10px 22px;
    font-size: 16px;
}
#sppb-addon-1594601131837 #btn-1594601131837.sppb-btn-custom:hover {
    background-color: #de6906;
    color: #ffffff;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594601131837 .sppb-media .sppb-media-body {
        width: auto;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594601131837 .sppb-media .sppb-media-body {
        width: auto;
    }
}
#sppb-addon-1594601131837 {
    transition: 0.3s;
}
#sppb-addon-1594601131837:hover {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-wrapper-1594601131838 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594601131838 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594601131838 .sppb-divider {
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #777a7c;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594601131838 .sppb-divider {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594601131838 .sppb-divider {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
#sppb-addon-wrapper-1594601131839 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594601131839 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594601131839 .sppb-addon-title {
    letter-spacing: ;
}
#sppb-addon-1594601131839 .sppb-img-container img {
    max-width: 60px;
}
#sppb-addon-1594601131839 .sppb-addon-title {
    font-size: 30px;
    font-weight: 300;
    margin-top: 7px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #fff;
}
#sppb-addon-1594601131839 .sppb-addon-title strong {
    color: #fff;
}
#sppb-addon-1594601131839 .sppb-addon-title > a:hover {
    opacity: 0.8;
}
#sppb-addon-1594601131839 .sppb-addon-text {
    color: #bebfc4;
}
#sppb-addon-1594601131839 .sppb-img-container {
    display: block;
}
#sppb-addon-1594601131839 .sppb-media .pull-left,
#sppb-addon-1594601131839 .sppb-media .pull-right {
    width: 15%;
}
#sppb-addon-1594601131839 .sppb-media-content .sppb-btn {
    margin: 25px 0px 0px 0px;
}
#sppb-addon-1594601131839 #btn-1594601131839.sppb-btn-custom {
    letter-spacing: 0px;
}
#sppb-addon-1594601131839 #btn-1594601131839.sppb-btn-custom {
    background-color: #0080fe;
    color: #ffffff;
    padding: 8px 22px 10px 22px;
    font-size: 16px;
}
#sppb-addon-1594601131839 #btn-1594601131839.sppb-btn-custom:hover {
    background-color: #de6906;
    color: #ffffff;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594601131839 .sppb-media .sppb-media-body {
        width: auto;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594601131839 .sppb-media .sppb-media-body {
        width: auto;
    }
}
#sppb-addon-1594601131839 {
    transition: 0.3s;
}
#sppb-addon-1594601131839:hover {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-wrapper-1594601131840 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594601131840 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594601131840 .sppb-divider {
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #777a7c;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594601131840 .sppb-divider {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594601131840 .sppb-divider {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
#sppb-addon-wrapper-1594601131841 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594601131841 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594601131841 .sppb-addon-title {
    letter-spacing: ;
}
#sppb-addon-1594601131841 .sppb-img-container img {
    max-width: 60px;
}
#sppb-addon-1594601131841 .sppb-addon-title {
    font-size: 30px;
    font-weight: 300;
    margin-top: 7px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #fff;
}
#sppb-addon-1594601131841 .sppb-addon-title strong {
    color: #fff;
}
#sppb-addon-1594601131841 .sppb-addon-title > a:hover {
    opacity: 0.8;
}
#sppb-addon-1594601131841 .sppb-addon-text {
    color: #bebfc4;
}
#sppb-addon-1594601131841 .sppb-img-container {
    display: block;
}
#sppb-addon-1594601131841 .sppb-media .pull-left,
#sppb-addon-1594601131841 .sppb-media .pull-right {
    width: 15%;
}
#sppb-addon-1594601131841 .sppb-media-content .sppb-btn {
    margin: 25px 0px 0px 0px;
}
#sppb-addon-1594601131841 #btn-1594601131841.sppb-btn-custom {
    letter-spacing: 0px;
}
#sppb-addon-1594601131841 #btn-1594601131841.sppb-btn-custom {
    background-color: #0080fe;
    color: #ffffff;
    padding: 8px 22px 10px 22px;
    font-size: 16px;
}
#sppb-addon-1594601131841 #btn-1594601131841.sppb-btn-custom:hover {
    background-color: #de6906;
    color: #ffffff;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594601131841 .sppb-media .sppb-media-body {
        width: auto;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594601131841 .sppb-media .sppb-media-body {
        width: auto;
    }
}
#sppb-addon-1594601131841 {
    transition: 0.3s;
}
#sppb-addon-1594601131841:hover {
    box-shadow: 0 0 0 0 #ffffff;
}
.sp-page-builder .page-content #section-id-1594601155823 {
    padding-top: 150px;
    padding-bottom: 150px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    box-shadow: 0 0 0 0 #ffffff;
}
#column-id-1594601155835 {
    box-shadow: 0 0 0 0 #fff;
}
#sppb-addon-wrapper-1594601155836 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594601155836 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594601155836 .sppb-addon-title {
    letter-spacing: ;
}
#sppb-addon-1594601155836 .sppb-addon-title {
    line-height: 1;
    color: #777a7c;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 5px;
    text-transform: uppercase;
}
#sppb-addon-1594601155836 .special-heading {
    color: #262c31;
    line-height: 1;
    margin: 0;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 25px;
}
#sppb-addon-1594601155836 .special-subheading {
    color: #262c31;
    line-height: 30px;
    margin: 0 auto;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    text-transform: none;
    width: 55%;
}
#sppb-addon-wrapper-1594601155837 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594601155837 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594601155837 .sppb-empty-space {
    height: 25px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594601155837 .sppb-empty-space {
        height: 25px;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594601155837 .sppb-empty-space {
        height: 25px;
    }
}
.sp-page-builder .page-content #section-id-1594601155838 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    box-shadow: 0 0 0 0 #ffffff;
}
#column-id-1594601155839 {
    box-shadow: 0 0 0 0 #fff;
}
#sppb-addon-wrapper-1594601155840 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594601155840 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594601155840 .sppb-addon-title {
    letter-spacing: ;
}
#sppb-addon-1594601155840 .sppb-icon {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 32px;
    color: #fff;
    position: relative;
    z-index: 1;
}
#sppb-addon-1594601155840 .sppb-icon:before {
    background: #7bb560;
    background-image: linear-gradient(135deg, #7bb560 0%, #a9c200 100%);
    border-radius: 50%;
    box-shadow: 0 1px 14px 1px #7bb560;
    content: "";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$colorMain5", endColorstr="$colorMain", GradientType=1);
    height: 60px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 60px;
    z-index: -1;
}
#sppb-addon-1594601155840 .sppb-icon:after {
    border: 1px solid #a9c200;
    border-radius: 50%;
    content: "";
    height: 100px;
    left: 50%;
    margin-top: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 100px;
}
#sppb-addon-1594601155840 .sppb-icon i {
    display: inline-block;
    vertical-align: bottom;
    line-height: 100px;
}
#sppb-addon-1594601155840 .sppb-addon-title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 10px;
    margin-top: 40px;
    text-transform: uppercase;
}
#sppb-addon-1594601155840 .sppb-addon-text {
    color: #212529;
}
#sppb-addon-1594601155840 .sppb-icon .sppb-icon-container {
    box-shadow: 0 0 0 0 #ffffff;
    display: inline-block;
    text-align: center;
    padding: 0 0 0 0;
    border-width: 0px;
}
#sppb-addon-1594601155840 .sppb-media-content .sppb-btn {
    margin: 25px 0px 0px 0px;
}
#sppb-addon-1594601155840 #btn-1594601155840.sppb-btn-custom {
    letter-spacing: 0px;
}
#sppb-addon-1594601155840 #btn-1594601155840.sppb-btn-custom {
    background-color: #0080fe;
    color: #ffffff;
    padding: 8px 22px 10px 22px;
    font-size: 16px;
}
#sppb-addon-1594601155840 #btn-1594601155840.sppb-btn-custom:hover {
    background-color: #de6906;
    color: #ffffff;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594601155840 .sppb-media .sppb-media-body {
        width: auto;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594601155840 .sppb-media .sppb-media-body {
        width: auto;
    }
}
#sppb-addon-1594601155840 {
    transition: 0.3s;
}
#sppb-addon-1594601155840:hover {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-wrapper-1594601155841 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594601155841 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594601155841 .sppb-empty-space {
    height: 55px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594601155841 .sppb-empty-space {
        height: 55px;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594601155841 .sppb-empty-space {
        height: 55px;
    }
}
#sppb-addon-wrapper-1594601155848 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594601155848 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594601155848 .sppb-addon-title {
    letter-spacing: ;
}
#sppb-addon-1594601155848 .sppb-icon {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 32px;
    color: #fff;
    position: relative;
    z-index: 1;
}
#sppb-addon-1594601155848 .sppb-icon:before {
    background: #7bb560;
    background-image: linear-gradient(135deg, #7bb560 0%, #a9c200 100%);
    border-radius: 50%;
    box-shadow: 0 1px 14px 1px #7bb560;
    content: "";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$colorMain5", endColorstr="$colorMain", GradientType=1);
    height: 60px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 60px;
    z-index: -1;
}
#sppb-addon-1594601155848 .sppb-icon:after {
    border: 1px solid #a9c200;
    border-radius: 50%;
    content: "";
    height: 100px;
    left: 50%;
    margin-top: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 100px;
}
#sppb-addon-1594601155848 .sppb-icon i {
    display: inline-block;
    vertical-align: bottom;
    line-height: 100px;
}
#sppb-addon-1594601155848 .sppb-addon-title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 10px;
    margin-top: 40px;
    text-transform: uppercase;
}
#sppb-addon-1594601155848 .sppb-addon-text {
    color: #212529;
}
#sppb-addon-1594601155848 .sppb-icon .sppb-icon-container {
    box-shadow: 0 0 0 0 #ffffff;
    display: inline-block;
    text-align: center;
    padding: 0 0 0 0;
    border-width: 0px;
}
#sppb-addon-1594601155848 .sppb-media-content .sppb-btn {
    margin: 25px 0px 0px 0px;
}
#sppb-addon-1594601155848 #btn-1594601155848.sppb-btn-custom {
    letter-spacing: 0px;
}
#sppb-addon-1594601155848 #btn-1594601155848.sppb-btn-custom {
    background-color: #0080fe;
    color: #ffffff;
    padding: 8px 22px 10px 22px;
    font-size: 16px;
}
#sppb-addon-1594601155848 #btn-1594601155848.sppb-btn-custom:hover {
    background-color: #de6906;
    color: #ffffff;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594601155848 .sppb-media .sppb-media-body {
        width: auto;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594601155848 .sppb-media .sppb-media-body {
        width: auto;
    }
}
#sppb-addon-1594601155848 {
    transition: 0.3s;
}
#sppb-addon-1594601155848:hover {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-wrapper-1594601155863 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594601155863 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594601155863 .sppb-empty-space {
    height: 55px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594601155863 .sppb-empty-space {
        height: 55px;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594601155863 .sppb-empty-space {
        height: 55px;
    }
}
#sppb-addon-wrapper-1594601155843 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594601155843 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594601155843 .sppb-addon-title {
    letter-spacing: ;
}
#sppb-addon-1594601155843 .sppb-icon {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 32px;
    color: #fff;
    position: relative;
    z-index: 1;
}
#sppb-addon-1594601155843 .sppb-icon:before {
    background: #7bb560;
    background-image: linear-gradient(135deg, #7bb560 0%, #a9c200 100%);
    border-radius: 50%;
    box-shadow: 0 1px 14px 1px #7bb560;
    content: "";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$colorMain5", endColorstr="$colorMain", GradientType=1);
    height: 60px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 60px;
    z-index: -1;
}
#sppb-addon-1594601155843 .sppb-icon:after {
    border: 1px solid #a9c200;
    border-radius: 50%;
    content: "";
    height: 100px;
    left: 50%;
    margin-top: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 100px;
}
#sppb-addon-1594601155843 .sppb-icon i {
    display: inline-block;
    vertical-align: bottom;
    line-height: 100px;
}
#sppb-addon-1594601155843 .sppb-addon-title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 10px;
    margin-top: 40px;
    text-transform: uppercase;
}
#sppb-addon-1594601155843 .sppb-addon-text {
    color: #212529;
}
#sppb-addon-1594601155843 .sppb-icon .sppb-icon-container {
    box-shadow: 0 0 0 0 #ffffff;
    display: inline-block;
    text-align: center;
    padding: 0 0 0 0;
    border-width: 0px;
}
#sppb-addon-1594601155843 .sppb-media-content .sppb-btn {
    margin: 25px 0px 0px 0px;
}
#sppb-addon-1594601155843 #btn-1594601155843.sppb-btn-custom {
    letter-spacing: 0px;
}
#sppb-addon-1594601155843 #btn-1594601155843.sppb-btn-custom {
    background-color: #0080fe;
    color: #ffffff;
    padding: 8px 22px 10px 22px;
    font-size: 16px;
}
#sppb-addon-1594601155843 #btn-1594601155843.sppb-btn-custom:hover {
    background-color: #de6906;
    color: #ffffff;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594601155843 .sppb-media .sppb-media-body {
        width: auto;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594601155843 .sppb-media .sppb-media-body {
        width: auto;
    }
}
#sppb-addon-1594601155843 {
    transition: 0.3s;
}
#sppb-addon-1594601155843:hover {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-wrapper-1594601155838 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594601155838 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594601155838 .sppb-empty-space {
    height: 55px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594601155838 .sppb-empty-space {
        height: 55px;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594601155838 .sppb-empty-space {
        height: 55px;
    }
}
#sppb-addon-wrapper-1594601155858 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594601155858 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594601155858 .sppb-addon-title {
    letter-spacing: ;
}
#sppb-addon-1594601155858 .sppb-icon {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 32px;
    color: #fff;
    position: relative;
    z-index: 1;
}
#sppb-addon-1594601155858 .sppb-icon:before {
    background: #7bb560;
    background-image: linear-gradient(135deg, #7bb560 0%, #a9c200 100%);
    border-radius: 50%;
    box-shadow: 0 1px 14px 1px #7bb560;
    content: "";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$colorMain5", endColorstr="$colorMain", GradientType=1);
    height: 60px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 60px;
    z-index: -1;
}
#sppb-addon-1594601155858 .sppb-icon:after {
    border: 1px solid #a9c200;
    border-radius: 50%;
    content: "";
    height: 100px;
    left: 50%;
    margin-top: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 100px;
}
#sppb-addon-1594601155858 .sppb-icon i {
    display: inline-block;
    vertical-align: bottom;
    line-height: 100px;
}
#sppb-addon-1594601155858 .sppb-addon-title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 10px;
    margin-top: 40px;
    text-transform: uppercase;
}
#sppb-addon-1594601155858 .sppb-addon-text {
    color: #212529;
}
#sppb-addon-1594601155858 .sppb-icon .sppb-icon-container {
    box-shadow: 0 0 0 0 #ffffff;
    display: inline-block;
    text-align: center;
    padding: 0 0 0 0;
    border-width: 0px;
}
#sppb-addon-1594601155858 .sppb-media-content .sppb-btn {
    margin: 25px 0px 0px 0px;
}
#sppb-addon-1594601155858 #btn-1594601155858.sppb-btn-custom {
    letter-spacing: 0px;
}
#sppb-addon-1594601155858 #btn-1594601155858.sppb-btn-custom {
    background-color: #0080fe;
    color: #ffffff;
    padding: 8px 22px 10px 22px;
    font-size: 16px;
}
#sppb-addon-1594601155858 #btn-1594601155858.sppb-btn-custom:hover {
    background-color: #de6906;
    color: #ffffff;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594601155858 .sppb-media .sppb-media-body {
        width: auto;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594601155858 .sppb-media .sppb-media-body {
        width: auto;
    }
}
#sppb-addon-1594601155858 {
    transition: 0.3s;
}
#sppb-addon-1594601155858:hover {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-wrapper-1594601155872 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594601155872 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594601155872 .sppb-empty-space {
    height: 55px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594601155872 .sppb-empty-space {
        height: 55px;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594601155872 .sppb-empty-space {
        height: 55px;
    }
}
#sppb-addon-wrapper-1594601155846 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594601155846 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594601155846 .sppb-addon-title {
    letter-spacing: ;
}
#sppb-addon-1594601155846 .sppb-icon {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 32px;
    color: #fff;
    position: relative;
    z-index: 1;
}
#sppb-addon-1594601155846 .sppb-icon:before {
    background: #7bb560;
    background-image: linear-gradient(135deg, #7bb560 0%, #a9c200 100%);
    border-radius: 50%;
    box-shadow: 0 1px 14px 1px #7bb560;
    content: "";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$colorMain5", endColorstr="$colorMain", GradientType=1);
    height: 60px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 60px;
    z-index: -1;
}
#sppb-addon-1594601155846 .sppb-icon:after {
    border: 1px solid #a9c200;
    border-radius: 50%;
    content: "";
    height: 100px;
    left: 50%;
    margin-top: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 100px;
}
#sppb-addon-1594601155846 .sppb-icon i {
    display: inline-block;
    vertical-align: bottom;
    line-height: 100px;
}
#sppb-addon-1594601155846 .sppb-addon-title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 10px;
    margin-top: 40px;
    text-transform: uppercase;
}
#sppb-addon-1594601155846 .sppb-addon-text {
    color: #212529;
}
#sppb-addon-1594601155846 .sppb-icon .sppb-icon-container {
    box-shadow: 0 0 0 0 #ffffff;
    display: inline-block;
    text-align: center;
    padding: 0 0 0 0;
    border-width: 0px;
}
#sppb-addon-1594601155846 .sppb-media-content .sppb-btn {
    margin: 25px 0px 0px 0px;
}
#sppb-addon-1594601155846 #btn-1594601155846.sppb-btn-custom {
    letter-spacing: 0px;
}
#sppb-addon-1594601155846 #btn-1594601155846.sppb-btn-custom {
    background-color: #0080fe;
    color: #ffffff;
    padding: 8px 22px 10px 22px;
    font-size: 16px;
}
#sppb-addon-1594601155846 #btn-1594601155846.sppb-btn-custom:hover {
    background-color: #de6906;
    color: #ffffff;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594601155846 .sppb-media .sppb-media-body {
        width: auto;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594601155846 .sppb-media .sppb-media-body {
        width: auto;
    }
}
#sppb-addon-1594601155846 {
    transition: 0.3s;
}
#sppb-addon-1594601155846:hover {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-wrapper-1594601155843 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594601155843 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594601155843 .sppb-empty-space {
    height: 55px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594601155843 .sppb-empty-space {
        height: 55px;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594601155843 .sppb-empty-space {
        height: 55px;
    }
}
#sppb-addon-wrapper-1594601155853 {
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1594601155853 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1594601155853 .sppb-addon-title {
    letter-spacing: ;
}
#sppb-addon-1594601155853 .sppb-icon {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 32px;
    color: #fff;
    position: relative;
    z-index: 1;
}
#sppb-addon-1594601155853 .sppb-icon:before {
    background: #7bb560;
    background-image: linear-gradient(135deg, #7bb560 0%, #a9c200 100%);
    border-radius: 50%;
    box-shadow: 0 1px 14px 1px #7bb560;
    content: "";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$colorMain5", endColorstr="$colorMain", GradientType=1);
    height: 60px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 60px;
    z-index: -1;
}
#sppb-addon-1594601155853 .sppb-icon:after {
    border: 1px solid #a9c200;
    border-radius: 50%;
    content: "";
    height: 100px;
    left: 50%;
    margin-top: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 100px;
}
#sppb-addon-1594601155853 .sppb-icon i {
    display: inline-block;
    vertical-align: bottom;
    line-height: 100px;
}
#sppb-addon-1594601155853 .sppb-addon-title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 10px;
    margin-top: 40px;
    text-transform: uppercase;
}
#sppb-addon-1594601155853 .sppb-addon-text {
    color: #212529;
}
#sppb-addon-1594601155853 .sppb-icon .sppb-icon-container {
    box-shadow: 0 0 0 0 #ffffff;
    display: inline-block;
    text-align: center;
    padding: 0 0 0 0;
    border-width: 0px;
}
#sppb-addon-1594601155853 .sppb-media-content .sppb-btn {
    margin: 25px 0px 0px 0px;
}
#sppb-addon-1594601155853 #btn-1594601155853.sppb-btn-custom {
    letter-spacing: 0px;
}
#sppb-addon-1594601155853 #btn-1594601155853.sppb-btn-custom {
    background-color: #0080fe;
    color: #ffffff;
    padding: 8px 22px 10px 22px;
    font-size: 16px;
}
#sppb-addon-1594601155853 #btn-1594601155853.sppb-btn-custom:hover {
    background-color: #de6906;
    color: #ffffff;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1594601155853 .sppb-media .sppb-media-body {
        width: auto;
    }
}
@media (max-width: 767px) {
    #sppb-addon-1594601155853 .sppb-media .sppb-media-body {
        width: auto;
    }
}
#sppb-addon-1594601155853 {
    transition: 0.3s;
}
#sppb-addon-1594601155853:hover {
    box-shadow: 0 0 0 0 #ffffff;
}
