.sp-page-builder .page-content #section-id-1594694230327 {
	padding-top: 150px;
	padding-right: 0px;
	padding-bottom: 150px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	box-shadow: 0 0 0 0 #ffffff;
}

#column-id-1594694230326 {
	box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-wrapper-1594745304455 {
	margin: 0px 0px 0px 0px;
}

#sppb-addon-1594745304455 {
	box-shadow: 0 0 0 0 #ffffff;
}

#sppb-addon-1594745304455 .sppb-addon-title {
	letter-spacing: ;
}

#sppb-addon-1594745304455 .sppb-addon-title {
	color: #777a7c;
	display: inline-block;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	margin-bottom: 10px;
	margin-top: 5px;
	text-transform: uppercase;
	line-height: 1;
}

#sppb-addon-1594745304455 .special-heading {
	color: var(--maincolor);
	line-height: 1;
	margin: 0;
}

#sppb-addon-1594745304455 h3.special-heading {
	font-size: 40px;
}

#sppb-addon-1594745304455 .special-heading .after {
	color: #262c31;
	display: inline-block;
	font-size: 20px;
	font-weight: 400;
	left: 0;
	line-height: 30px;
	position: relative;
	text-transform: none;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	width: 100%;
}

#sppb-addon-1594745304455 .fw-divider-special {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	position: relative;
	width: 100%;
	margin-bottom: 30px;
}

#sppb-addon-1594745304455 .fw-divider-special .special {
	position: relative;
	margin-bottom: 0;
	height: 1px;
}

#sppb-addon-1594745304455 .fw-divider-special .special::before {
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	top: auto;
	background-color: #dcdcdc;
	height: 1px;
	opacity: 1;
	width: 75%;
}

#sppb-addon-1594745304455 .fw-divider-special .special::after {
	bottom: -1px;
	content: "";
	left: 0;
	position: absolute;
	top: auto;
	background-color: #777a7c;
	height: 3px;
	width: 50px;
}

#sppb-addon-1594745304455 .w-75 {
	width: 75% !important;
}

#sppb-addon-wrapper-1594746491288 {
	margin: 0px 0px 0px 0px;
}

#sppb-addon-1594746491288 {
	box-shadow: 0 0 0 0 #ffffff;
}

#sppb-addon-1594746491288 .sppb-empty-space {
	height: 55px;
}

@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1594746491288 .sppb-empty-space {
		height: 55px;
	}
}

@media (max-width:767px) {
	#sppb-addon-1594746491288 .sppb-empty-space {
		height: 55px;
	}
}

.sp-page-builder .page-content #section-id-1594746491237 {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	box-shadow: 0 0 0 0 #ffffff;
}

#column-id-1594746491246 {
	box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-wrapper-1594746491247 {
	margin: 0px 0px 0px 0px;
}

#sppb-addon-1594746491247 {
	box-shadow: 0 0 0 0 #ffffff;
}

#sppb-addon-1594746491247 .sppb-addon-feature {
	background: #fff;
	border-color: transparent;
	box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.05);
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	padding: 50px 20px 42px;
}

#sppb-addon-1594746491247 .sppb-icon {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	font-size: 32px;
	color: #fff;
	position: relative;
	z-index: 1;
	margin-bottom: 5px;
}

#sppb-addon-1594746491247 .sppb-icon:before {
	background: #7bb560;
	background-image: linear-gradient(135deg, #7bb560 0%, #a9c200 100%);
	border-radius: 50%;
	box-shadow: 0 1px 14px 1px #7bb560;
	content: "";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$colorMain5", endColorstr="$colorMain", GradientType=1);
	height: 60px;
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 60px;
	z-index: -1;
}

#sppb-addon-1594746491247 .sppb-icon:after {
	border: 1px solid #a9c200;
	border-radius: 50%;
	content: "";
	height: 100px;
	left: 50%;
	margin-top: 0;
	position: absolute;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 100px;
}

#sppb-addon-1594746491247 .sppb-icon i {
	display: inline-block;
	vertical-align: bottom;
	line-height: 100px;
}

#sppb-addon-1594746491247 .sppb-addon-title {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0;
	margin-bottom: 10px;
	margin-top: 40px;
	text-transform: uppercase;
}

#sppb-addon-1594746491247 .sppb-addon-text p {
	margin-bottom: 0;
}

#sppb-addon-1594746491247 .sppb-icon .sppb-icon-container {
	box-shadow: 0 0 0 0 #ffffff;
	display: inline-block;
	text-align: center;
	padding: 0 0 0 0;
	border-width: 0px;
}

#sppb-addon-1594746491247 .sppb-media-content .sppb-btn {
	margin: 25px 0px 0px 0px;
}

#sppb-addon-1594746491247 #btn-1594746491247.sppb-btn-custom {
	letter-spacing: 0px;
}

#sppb-addon-1594746491247 #btn-1594746491247.sppb-btn-custom {
	background-color: #0080FE;
	color: #FFFFFF;
	padding: 8px 22px 10px 22px;
	font-size: 16px;
}

#sppb-addon-1594746491247 #btn-1594746491247.sppb-btn-custom:hover {
	background-color: #de6906;
	color: #FFFFFF;
}

@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1594746491247 .sppb-media .sppb-media-body {
		width: auto;
	}
}

@media (max-width:767px) {
	#sppb-addon-1594746491247 .sppb-media .sppb-media-body {
		width: auto;
	}
}

#sppb-addon-1594746491247 {
	transition: .3s;
}

#sppb-addon-1594746491247:hover {
	box-shadow: 0 0 0 0 #ffffff;
}

#sppb-addon-wrapper-1594746491250 {
	margin: 0px 0px 0px 0px;
}

#sppb-addon-1594746491250 {
	box-shadow: 0 0 0 0 #ffffff;
}

#sppb-addon-1594746491250 .sppb-empty-space {
	height: 55px;
}

@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1594746491250 .sppb-empty-space {
		height: 55px;
	}
}

@media (max-width:767px) {
	#sppb-addon-1594746491250 .sppb-empty-space {
		height: 55px;
	}
}

#sppb-addon-wrapper-1594746491252 {
	margin: 0px 0px 0px 0px;
}

#sppb-addon-1594746491252 {
	box-shadow: 0 0 0 0 #ffffff;
}

#sppb-addon-1594746491252 .sppb-addon-feature {
	background: #fff;
	border-color: transparent;
	box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.05);
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	padding: 50px 20px 42px;
}

#sppb-addon-1594746491252 .sppb-icon {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	font-size: 32px;
	color: #fff;
	position: relative;
	z-index: 1;
	margin-bottom: 5px;
}

#sppb-addon-1594746491252 .sppb-icon:before {
	background: #7bb560;
	background-image: linear-gradient(135deg, #7bb560 0%, #a9c200 100%);
	border-radius: 50%;
	box-shadow: 0 1px 14px 1px #7bb560;
	content: "";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$colorMain5", endColorstr="$colorMain", GradientType=1);
	height: 60px;
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 60px;
	z-index: -1;
}

#sppb-addon-1594746491252 .sppb-icon:after {
	border: 1px solid #a9c200;
	border-radius: 50%;
	content: "";
	height: 100px;
	left: 50%;
	margin-top: 0;
	position: absolute;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 100px;
}

#sppb-addon-1594746491252 .sppb-icon i {
	display: inline-block;
	vertical-align: bottom;
	line-height: 100px;
}

#sppb-addon-1594746491252 .sppb-addon-title {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0;
	margin-bottom: 10px;
	margin-top: 40px;
	text-transform: uppercase;
}

#sppb-addon-1594746491252 .sppb-addon-text p {
	margin-bottom: 0;
}

#sppb-addon-1594746491252 .sppb-icon .sppb-icon-container {
	box-shadow: 0 0 0 0 #ffffff;
	display: inline-block;
	text-align: center;
	padding: 0 0 0 0;
	border-width: 0px;
}

#sppb-addon-1594746491252 .sppb-media-content .sppb-btn {
	margin: 25px 0px 0px 0px;
}

#sppb-addon-1594746491252 #btn-1594746491252.sppb-btn-custom {
	letter-spacing: 0px;
}

#sppb-addon-1594746491252 #btn-1594746491252.sppb-btn-custom {
	background-color: #0080FE;
	color: #FFFFFF;
	padding: 8px 22px 10px 22px;
	font-size: 16px;
}

#sppb-addon-1594746491252 #btn-1594746491252.sppb-btn-custom:hover {
	background-color: #de6906;
	color: #FFFFFF;
}

@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1594746491252 .sppb-media .sppb-media-body {
		width: auto;
	}
}

@media (max-width:767px) {
	#sppb-addon-1594746491252 .sppb-media .sppb-media-body {
		width: auto;
	}
}

#sppb-addon-1594746491252 {
	transition: .3s;
}

#sppb-addon-1594746491252:hover {
	box-shadow: 0 0 0 0 #ffffff;
}

#sppb-addon-wrapper-1594746491255 {
	margin: 0px 0px 0px 0px;
}

#sppb-addon-1594746491255 {
	box-shadow: 0 0 0 0 #ffffff;
}

#sppb-addon-1594746491255 .sppb-empty-space {
	height: 55px;
}

@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1594746491255 .sppb-empty-space {
		height: 55px;
	}
}

@media (max-width:767px) {
	#sppb-addon-1594746491255 .sppb-empty-space {
		height: 55px;
	}
}

#sppb-addon-wrapper-1594746491257 {
	margin: 0px 0px 0px 0px;
}

#sppb-addon-1594746491257 {
	box-shadow: 0 0 0 0 #ffffff;
}

#sppb-addon-1594746491257 .sppb-addon-feature {
	background: #fff;
	border-color: transparent;
	box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.05);
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	padding: 50px 20px 42px;
}

#sppb-addon-1594746491257 .sppb-icon {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	font-size: 32px;
	color: #fff;
	position: relative;
	z-index: 1;
	margin-bottom: 5px;
}

#sppb-addon-1594746491257 .sppb-icon:before {
	background: #7bb560;
	background-image: linear-gradient(135deg, #7bb560 0%, #a9c200 100%);
	border-radius: 50%;
	box-shadow: 0 1px 14px 1px #7bb560;
	content: "";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$colorMain5", endColorstr="$colorMain", GradientType=1);
	height: 60px;
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 60px;
	z-index: -1;
}

#sppb-addon-1594746491257 .sppb-icon:after {
	border: 1px solid #a9c200;
	border-radius: 50%;
	content: "";
	height: 100px;
	left: 50%;
	margin-top: 0;
	position: absolute;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 100px;
}

#sppb-addon-1594746491257 .sppb-icon i {
	display: inline-block;
	vertical-align: bottom;
	line-height: 100px;
}

#sppb-addon-1594746491257 .sppb-addon-title {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0;
	margin-bottom: 10px;
	margin-top: 40px;
	text-transform: uppercase;
}

#sppb-addon-1594746491257 .sppb-addon-text p {
	margin-bottom: 0;
}

#sppb-addon-1594746491257 .sppb-icon .sppb-icon-container {
	box-shadow: 0 0 0 0 #ffffff;
	display: inline-block;
	text-align: center;
	padding: 0 0 0 0;
	border-width: 0px;
}

#sppb-addon-1594746491257 .sppb-media-content .sppb-btn {
	margin: 25px 0px 0px 0px;
}

#sppb-addon-1594746491257 #btn-1594746491257.sppb-btn-custom {
	letter-spacing: 0px;
}

#sppb-addon-1594746491257 #btn-1594746491257.sppb-btn-custom {
	background-color: #0080FE;
	color: #FFFFFF;
	padding: 8px 22px 10px 22px;
	font-size: 16px;
}

#sppb-addon-1594746491257 #btn-1594746491257.sppb-btn-custom:hover {
	background-color: #de6906;
	color: #FFFFFF;
}

@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1594746491257 .sppb-media .sppb-media-body {
		width: auto;
	}
}

@media (max-width:767px) {
	#sppb-addon-1594746491257 .sppb-media .sppb-media-body {
		width: auto;
	}
}

#sppb-addon-1594746491257 {
	transition: .3s;
}

#sppb-addon-1594746491257:hover {
	box-shadow: 0 0 0 0 #ffffff;
}

#sppb-addon-wrapper-1594746737395 {
	margin: 0px 0px 0px 0px;
}

#sppb-addon-1594746737395 {
	box-shadow: 0 0 0 0 #ffffff;
}

#sppb-addon-1594746737395 .sppb-empty-space {
	height: 55px;
}

@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1594746737395 .sppb-empty-space {
		height: 55px;
	}
}

@media (max-width:767px) {
	#sppb-addon-1594746737395 .sppb-empty-space {
		height: 55px;
	}
}

#sppb-addon-wrapper-1594746737405 {
	margin: 0px 0px 0px 0px;
}

#sppb-addon-1594746737405 {
	background-image: linear-gradient(135deg, #7bb560 0%, #a9c200 100%);
	box-shadow: 0 0 0 0 #ffffff;
	padding: 60px 60px 60px 60px;
}

#sppb-addon-1594746737405 .sppb-addon-title {
	letter-spacing: ;
}

@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-wrapper-1594746737405 {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
	}
}

@media (max-width:767px) {
	#sppb-addon-wrapper-1594746737405 {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
	}
}

#sppb-addon-1594746737405 .sppb-addon-title {
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 35px;
}

#sppb-addon-1594746737405 .sppb-form-control {
	background-color: #f4f4f4;
	border: none;
	color: #777a7c;
	font-size: 16px;
	height: 60px;
	padding-bottom: 9px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 9px;
	width: 100%;
	border-radius: 5px;
}

#sppb-addon-1594746737405 textarea.sppb-form-control {
	height: auto;
}

#sppb-addon-1594746737405 .sppb-form-control:focus {
	background-color: #eae9ee;
}

#sppb-addon-1594746737405 .sppb-btn {
	background: transparent;
	border: 1px solid #262c31 !important;
	color: #262c31;
	padding: 20px 58px;
}

#sppb-addon-1594746737405 .sppb-btn:hover {
	border: 1px solid #fff !important;
	color: #fff !important;
	padding: 20px 58px;
	background: transparent !important;
}

#sppb-addon-1594746737405 .sppb-ajaxt-contact-form .sppb-form-group input:not(.sppb-form-check-input) {
	border-radius: 0px;
	transition: .35s;
}

#sppb-addon-1594746737405 .sppb-ajaxt-contact-form div.sppb-form-group textarea {
	border-radius: 0px;
	transition: .35s;
}

#sppb-addon-1594746737405 .sppb-ajaxt-contact-form div.sppb-form-group {
	margin: 0px 0px 15px 0px;
}

@media (min-width:768px) and (max-width:991px) {
	#sppb-addon-1594746737405 .sppb-ajaxt-contact-form div.sppb-form-group {
		margin: 0px 0px 15px 0px;
	}
}

@media (max-width:767px) {
	#sppb-addon-1594746737405 .sppb-ajaxt-contact-form div.sppb-form-group {
		margin: 0px 0px 15px 0px;
	}
}

.sp-page-builder .page-content #section-id-1594746737389 {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	box-shadow: 0 0 0 0 #ffffff;
}

#column-id-1594746737388 {
	box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-wrapper-1594746737392 {
	margin: 0px 0px 0px 0px;
}

#sppb-addon-1594746737392 {
	box-shadow: 0 0 0 0 #ffffff;
}

#sppb-addon-1594746737392 .sppb-addon-gmap-canvas {
	height: 600px;
}